/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     padding: 200px;
     font-family: Arial, Helvetica, sans-serif;
 }

 .title {
     font-size: 20px;
     color: darkblue;
 }

span:last-child{
    color: black;
}

.form {
    padding-left: 40px;
    
}

.textbody {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-bottom: 1px solid black;
}

::placeholder {
    color: cornflowerblue;
}

input[type=submit] {
    background-color: darkblue;
    color: white;
    border-radius: 3px;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

